.container {
    display: grid;
    grid-template-columns: 300px 280px 200px 420px;
    grid-template-rows: 300px 220px 300px;
    width: 1440px;
    height: 1024px;
    gap: 22px
}
.top {
    display: grid;
    width: 1440px;
    height: 105px;
    gap: 22px
}
.photo1{
    background-image: url('./asserts/img/1.jpg');
    background-size: 100% 100%;
}
.photo2{
    background-image: url('./asserts/img/2.jpg');
    background-size: 100% 100%;
    grid-column-start: 2;
    grid-column-end: 4;
}

.photo4{
    background-image: url('./asserts/img/4.jpg');
    background-size: 100% 100%;
    width: 430px;

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
}

.photo3{
    background-image: url('./asserts/img/3.jpg');
    background-size: 100% 100%;
    grid-column-start: 1;
    grid-column-end: 3;
}
.photo5{
    background-image: url('./asserts/img/5.jpg');
    background-size: 100% 100%;
    width: 430px;
    height: 300px;
    grid-row-start: 2;
    grid-column-start: 4;
    height: 542px;
}
.photo9{
    background-image: url('./asserts/img/9.jpg');
    background-size: 100% 100%;
    width: 200px;
    grid-column-start: 3;
}
.photo6{
    background-image: url('./asserts/img/6.jpg');
    background-size: 100% 100%;
}
.photo7{
    background-image: url('./asserts/img/7.jpg');
    background-size: 100% 100%;
    grid-column-start: 2;
    grid-column-end: 4;

}